<div *ngIf="temporadaSeleccionada!=''">
    <button class="btn btn-warning" (click)="temporadaSeleccionada=''">volver</button>
    Listado de capitulos:

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of temporadas[temporadaSeleccionada]">
                <th scope="row">{{item.name.split(" ")[1]}}</th>
                <td>{{item.name}}</td>
                <td> <a (click)="seleccionar(item)" class="btn btn-primary ">Ver Capitulo</a> </td>
            </tr>
        </tbody>
    </table>

    <!--
         <div class="container d-flex">
              <div class="row justify-content-md-center">

          <div class="col col-sm-4 pt-4 border justify-content-center" *ngFor="let item of capitulos">
              <p class="text-center">{{item.name.split("-")[1].split(".")[0]}}</p>
              <p class="text-center">{{item.name.split(" ")[2]}}</p>
              <a (click)="seleccionar(item)" class="btn btn-primary ">Ver Capitulo</a>
          </div>
      </div> 
    </div>-->

</div>

<div *ngIf="temporadaSeleccionada==''">
    Selecciona la temporada:
    <div class="d-flex p-2">
        <div class="row justify-content-md-center">
            <!--<div class="col col-sm-4 pt-4 border justify-content-center" *ngFor="let item of temporadas">
              <p class="text-center">{{item}}</p>
              <p></p>
              <a (click)="seleccionarTemporada(item)" class="btn btn-primary ">Ingresar</a>
          </div>-->
            <div class="card m-2" *ngFor="let item of keysTemporadas">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <p class="text-center">Temporada {{item}}</p>
                    <p></p>
                    <a (click)="seleccionarTemporada(item)" class="btn btn-primary ">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>