<div *ngIf="temporadaSeleccionada!=''">
    <button class="btn btn-warning" (click)="temporadaSeleccionada=''">volver</button>
    Listado de capitulos:

    <table class="table ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of capitulos; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name.split("-")[1].split(".")[0]}}</td>
                <td><a href="#" (click)="seleccionar(item)" class="btn btn-primary ">Ver Capitulo {{i+1}}</a></td>
            </tr>
        </tbody>
    </table>
</div>

<!--<div *ngIf="temporadaSeleccionada==''">
    <p class="pl-4">Selecciona la temporada:</p>
    <div class="container d-flex">
        <div class="row justify-content-md-center">
            <div class="col col-sm-4 pt-4 border justify-content-center" *ngFor="let item of temporadas">
                <img src={{getPortadaByTemporada(item)}} alt="">
                <p class="text-center">{{item}}</p>
                <p></p>
                <a href="#" (click)="seleccionarTemporada(item)" class="btn btn-primary ">Seleccionar</a>
            </div>
        </div>
    </div>
</div>--->

<div *ngIf="temporadaSeleccionada==''">
    <p class="pl-4">Selecciona la temporada:</p>
    <div class="container-sm d-flex">
        <div class="row justify-content-md-center">
        <div class="card m-2" style="width: 18rem; height: fit-content; color: black; align-items: center;" *ngFor="let item of temporadas">
            <img class="card-img-top" src={{getPortadaByTemporada(item)}}  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-white">{{item}}</h5>
              <a href="#" (click)="seleccionarTemporada(item)" class="btn btn-primary">Seleccionar</a>
            </div>
          </div>
        </div>
    </div>
</div>